/*
For styles only applicable to the Android app

@author Henry Baba-Weiss <htw@cs.washington.edu>

*/

/* Buttons for nav on Android should span the entire screen */
.button.androidbutton {
	margin: 5px 0px;
	float: none;
	display: block;
	text-align: center;
}

.androidmenu {
	text-align: center;
}

.overlay {
	/*height:100%;
	width:100%;*/
	position:fixed;
	left:0;
	top:0;
	z-index:1 !important;
	background-color:black;
}

input[type='input'], input[type='text'] {
	height: 40px;
	font-size: 30px;
	width: 100%;
}

/* ========== tables (general) ============= */

table th.corner div {
	background-color: #7AF24E;
	height: 25px;
}

table {
	width: 100%;
}

table th.corner, table th.corner.div {
	width: 25px;
}

table th.corner div.right {
	border-radius: 0 5px 0 0;
}

table th.corner div.left {
	border-radius: 5px 0 0 0;
}

table td {
	padding: 10px 0px;
}

table tr.bottom td {
	padding: 0px;
}

table tr.bottom div {
	height: 5px;
}

/* =========== specific styles =============*/

table#joinGroupList, p#profileInfo, div#addCategory div#addCategoryDetails,
div#addFood div#addFoodDetails, div#groupList {
	text-align: left !important;
}

span#ratingBlock input[type='radio'], span#foodRatingBlock input[type='radio']{
/*	height: 50px;
	width: 50px;
	vertical-align: middle;*/
	width: 60px;
}

table#joinGroupList .button, table#groups_table .button{
	padding: 13px 17px;
}

/*select[name='category'], select[name='food'] {
	display: block;
	width: 100%;
}*/

div#searchQuery label {
	margin: 35px 0px !important;
}

div#searchQuery  select {
	margin-left: 28px !important;
}