/*
 * @author Coral Peterson
 */

/* Reset everything */
* {
	padding: 0px;
	margin: 0px;
}

/* General styles */
body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 11pt;
	color: #333;
	/*margin: 7px 20px;*/
	max-width: 462px; /*480px;*/
	min-width: 302px;/*320px;*/
	margin: 0px 9px;
}

h1, h2 {
	padding: 0.5em 0 0.2em 0;
	clear: both;
}

a {
	text-decoration: none;
	color: #888;
}

a:hover {
	color: #A7F28C; /* Very light green */
}

a:active {
	color: #7AF24E; /* Light green */
}

/* ======== TABLES ===========*/


/*
HOW TO TABLES IN HTML

Things in [] are stuff you should replace

<table>
	<tr>
		<th class="corner"><div class="left"></div></th>
		[... all columns here ...]		
		<th class="corner"><div class="right"></div></th>
	</tr>
	
	<tr class="[even|odd, start with even]">
		<td></td>		
		[... all actual table data tds here ...]
		<td></td>
	</tr>
	
	<tr class="bottom">
		<td></td>
		<td></td>
		<td><div></div></td>
		<td></td>
	</tr>
</table>

*/

table {
	border-collapse: collapse;
	width: 100%;
}

table th {
	line-height: 27pt;
}

table td {
	padding: 3px;
}

table tr.even {
	background-color: #eee;
}
table tr.odd {
	background-color: #fff;
}

table th.top, table th.corner div, table tr.bottom {
	background-color: #7AF24E; /* Light green */
}

table tr.bottom div {
	height: 2px;
}

table th.corner, table th.corner div {
	width: 12px;
}

table th.corner div {
	height: 27pt;
	/*background-color: black;*/
}

table th.corner div.right {
	border-radius: 0 10px 0 0;
}

table th.corner div.left {
	border-radius: 10px 0 0 0;
}


/* =====================Useful classes ========================*/

.clear {
	clear: both;
}

.hidden {
    display: none;
}

.button {

	/*border: 1px solid DarkGreen;*/
	border-radius: 5px 5px 5px 5px;
	clear: both;
	color: white; /*DarkGreen*/
	float: left;
	padding: 6px 27px;
	text-decoration: none;
	font-weight: bold;
	margin-top: 4px;
	line-height: 18pt;
	cursor: pointer;
}

/* See profile.js --> toggleDropdown(name) for instructions on HTML setup */
.button.dropDown {
	margin: 0px;
	float: none;
	display: block;
}

.button.dropDown.open {
	border-radius: 5px 5px 0px 0px;
}

.dropDownDetails {
	border-width: 0px 2px 2px 2px;
	border-style: solid;
	border-color: #7AF24E; /* Light green */	
}

a.button:hover, table th {
	color: white;
}

/* colors for action and dropdown buttons*/
.button.action, .button.dropDown {
	background-color: #7AF24E; /* Light green */
}

.button.action:hover, .button.dropDown:hover {
	background-color: #A7F28C; /* Very light green */
}

/* colors for navigation buttons */
.button.navBtn {
	background-color: #999;
}

.button.navBtn:hover {
	background-color: #aaa;
}

/* colors for submit buttons */
.button.submit {
	background-color: #FF9452;
}

.button.submit:hover {
	background-color: #FFBD94;
}



/* ======================Specific styles ===========================*/



.status {
    min-height: 50px;
    line-height: 50px;
}

#addCategoryDetails {
	clear: both;
}

#footer {
	display: block;
	clear: both;
	font-size: 8pt;
	color: #999;
	padding: 17px 0px;
}

#nav {
	margin: 2px 0px 24px 0px;
}

#preferenceTable td.rating {
	text-align: center;
}

div#createProfile {
	line-height: 22pt;
}

div#groupList table td a.button {
	float: right;
}