/*
for styles that will only appear on the mobile site

@author Coral Peterson

*/


/*

@media only screen and (max-device-width: 480px) { 
    #login {
	color: white;
        background-color: #aaa;
    }
}
*/

#header, #footer {
	text-align: center;
}