/*
for styles that will only appear on the mobile site

@author Coral Peterson

*/


/*

@media only screen and (max-device-width: 480px) { 
    #login {
	color: white;
        background-color: #aaa;
    }
}
*/

#header, #footer {
	text-align: center;
}

#preferenceTable {
	margin: auto;
}

.button {
	line-height: 28pt;
}

div#createProfile {
	line-height: 30pt;
}

div#createProfile input {
	height: 27pt;
	font-size: 25pt;
	width: 100%;
}